body {
  background-color: #fcf7e4;
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 600px;
}

li {
  list-style: none;
  flex: 1 0 calc(33.33% - 10px);
  background-color: #d4edfa;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
